<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Quizify">
    <meta property="og:description" content="Take Daily Quiz, AI-powered or user-created quizzes, climb the leaderboards, and enjoy fair play">
    <meta property="og:image" content="https://res.cloudinary.com/di5q8uqqc/image/upload/v1743228609/logo_n6jite.png">
    <meta property="og:url" content="https://quizify.azurewebsites.net/">
    <title>Quizify - LOGIN</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    </style>
</head>

<body>
    <%- include("../partials/flash") %>
            <div class="login-container">
            <h1>QUIZIFY</h1>
            <div style="display: flex; justify-content: center; align-items: center;">
                <a href="/auth/google" style="text-decoration: none;">
                    <button style="display: flex;">
                        <img src="https://sm.pcmag.com/pcmag_me/review/g/google-doc/google-docs-sheets-and-slides_f6we.png"
                            alt="Google Logo" style="width: 20px; height: 20px; margin-right: 10px;">
                        Sign In with Google
                    </button>
                </a>
            </div>
            <br>
            or
            
            <form action="/login" method="POST">
            <label for="username">Username </label>
            <input type="text" id="username" name="username" autofocus required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <span style="font-size: 16px; text-align:right; display: block; margin-top: 5px;">
                <a href="/changepwd" style="color:#7B16FF; text-decoration:none;">
                    Forgot Password/Username?</a>
            </span>
            <button type="submit" style="width:60%;">LOGIN</button>
            <p>Don't have an account? <a href="/register" style="color:#7B16FF; text-decoration:none;">Register</a></p>
        </form>
        </div>
</body>

</html>