<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account</title>
    <link rel="stylesheet" href="/style.css">    
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">    
    </style>
</head>
<body>
    <%- include("../partials/flash") %>
    <form class="login-container" action="/setpwd" method="POST">
        <h1>Create account</h1>
        <label for="password">Set Password</label>
        <input type="hidden" name="username" value="<%= username %>">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="password" id="password" name="password" required>
        <button type="submit" style="width:60%;">Register Account</button>
    </form>

</body>
</html>