<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body {
            background-image: url("/404.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            min-height: 100vh;
            width: 100vw;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
            text-align: center;
            flex-direction: column;
        }
        a {
            font-size: 1.5rem;
            text-decoration: none;
            font-weight: bold;
            color:  #7B16FF;
            transition: color 0.3s ease;
        }

        a:hover {
            color: #e74c3c;
        }

        @media (max-width: 768px) {
            body {
                background-attachment: scroll;
                background-repeat: repeat;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <a href="/"><i class="fa-solid fa-house"></i> Go back to the homepage</a>
    </div>
</body>

</html>